.post ul {
    list-style-type: none;
}

.post #post {
    padding-bottom: 30px;
    border-bottom: 3px solid var(--charcoal);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
    text-align: center;
}

.post #post h1 {
    letter-spacing: 2px;
}

.post #post time {
    text-align: end;
}

.post #comments {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
    text-align: center;
}

.post #comments .user {
    width: 100%;
    display: block;
    text-align: start;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--charcoal);
}

.post #comments time {
    width: 100%;
    display: block;
    text-align: end;
}

.post #comments li {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: min(600px, 100%);
}

.post .create {
    padding-top: 30px;
    border-top: solid 1px var(--charcoal);
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    color: var(--charcoal);
}

.post h2 {
    color: var(--charcoal);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.post form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post input {
    font-family: var(--golos);
}

.post button {
    padding: 12px 24px;
    border: none;
    background-color: var(--charcoal);
    color: white;
    font-family: var(--golos);
    text-transform: uppercase;
    cursor: pointer;
}

.post button:hover {
    filter: brightness(1.3);
}

.post #alert {
    list-style-type: none;
    color: red;
    text-align: center;
}

.post #error {
    color: red;
    text-align: center;
}

.post #success {
    color: green;
    text-align: center;
}

.post .newcomment {
    border-top: 1px solid var(--charcoal);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}